/* 大搜索页面相关样式 */
body,th,td {
    font-family: arial;
}

p,form,ol,ul,li,dl,dt,dd,h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table,img {
    border: 0;
}

td {
    font-size: 9pt;
    line-height: 18px;
}

em {
    font-style: normal;
    color: #cc0000;
}

a em {
    text-decoration: underline;
}

cite {
    font-style: normal;
    color: #008000;
}

.c-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.c-clearfix {
    zoom: 1;
}
