[project]
	description = A Simple UI Library for ZX
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leon (jinzhubaofu)
[access "refs/for/refs/*"]
	read = group user/leon (jinzhubaofu)
	push = group user/leon (jinzhubaofu)
	label-Code-Review = -2..+2 group user/leon (jinzhubaofu)
	label-Verified = -1..+1 group user/leon (jinzhubaofu)
	rebase = group user/leon (jinzhubaofu)
	removeReviewer = group user/leon (jinzhubaofu)
	submit = group user/leon (jinzhubaofu)
[access "refs/heads/*"]
	read = group user/leon (jinzhubaofu)
	create = group user/leon (jinzhubaofu)
	push = +force group user/leon (jinzhubaofu)
	pushMerge = group user/leon (jinzhubaofu)
[access "refs/tags/*"]
	push = +force group user/leon (jinzhubaofu)
	pushTag = group user/leon (jinzhubaofu)
	pushSignedTag = group user/leon (jinzhubaofu)
