.ecl-ui-city {
  width: 360px;
  position: absolute;
  z-index: 1000;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  color: #555;
  left: -2000px;
}
.ecl-ui-city a {
  text-decoration: none;
}
.ecl-ui-city-labels,
.ecl-ui-city-panels {
  list-style: none;
}
.ecl-ui-city-labels {
  border-bottom: 1px solid #ddd;
}
.ecl-ui-city-labels li {
  border: 1px solid #ddd;
  background-color: #fff;
  float: left;
  padding: 3px 5px;
  margin-right: 10px;
  margin-bottom: -1px;
  cursor: default;
  color: #0069CA;
}
.ecl-ui-city-labels .ecl-ui-city-active {
  background-color: #E8EDF1;
}
.ecl-ui-city-panels li {
  display: none;
  float: left;
  line-height: 18px;
}
.ecl-ui-city-panels .ecl-ui-city-active {
  display: block;
}
.ecl-ui-city-panels a {
  color: #555;
  width: 70px;
  display: inline-block;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
}
