.ecl-ui-filter p {
  margin: 15px auto;
  color: #0000CC;
  font-size: 12px;
}
.ecl-ui-filter label {
  padding: 1px 5px;
  margin: 3px;
  border: 1px solid #fff;
}
.ecl-ui-filter input {
  display: none;
}
.ecl-ui-filter .checked {
  background: #5A9FF1;
  border: 1px solid #418CE5;
  border-radius: 2px;
  color: #FFFFFF;
}
.ecl-ui-filter .disabled {
  background: none;
  color: #D8D8D8;
  cursor: not-allowed;
}
