/*! 2014 Baidu Inc. All Rights Reserved */
.ecl-ui-floattip {
  position: fixed;
  left: 50%;
  top: 50%;
  border: 1px solid #D83828;
  background: #FFB4AD;
  padding: 3px 6px;
}
.ecl-ui-floattip-hide {
  display: none;
}
.ecl-ui-floattip-icon {
  display: none;
}
.ecl-ui-floattip-content {
  color: #D83828;
  font-size: 11pt;
}
