.ecl-ui-lunar-pre,
.ecl-ui-lunar-next {
  background: url(http://open.baidu.com/stat/ticket/cal.gif) 0 -19px;
}
.ecl-ui-lunar {
  position: relative;
  width: 784px;
  border: 1px solid #b5b5b5;
  background: #fff;
}
.ecl-ui-lunar h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 14px;
  color: #41537b;
  margin-bottom: 2px;
}
.ecl-ui-lunar ul {
  color: #666;
  border-top: 1px solid #999;
  text-align: center;
}
.ecl-ui-lunar ul li {
  height: 35px;
  line-height: 35px;
}
.ecl-ui-lunar p {
  background-color: #999;
  _margin-right: -16px;
}
.ecl-ui-lunar li,
.ecl-ui-lunar p a {
  float: left;
  width: 111px;
  font: 12px Arial;
}
.ecl-ui-lunar p a {
  color: #363636;
  background-color: #fff;
  height: 110px;
  line-height: 18px;
  margin-top: 1px;
  margin-left: 1px;
  text-indent: 1em;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}
.ecl-ui-lunar p a:hover {
  background: #FFFFCA;
}
.ecl-ui-lunar p a.ecl-ui-lunar-disabled,
.ecl-ui-lunar p a.ecl-ui-lunar-disabled:hover {
  color: #ddd;
  cursor: not-allowed;
  background: none;
}
.ecl-ui-lunar .ecl-ui-lunar-today {
  color: red;
  background: #FFFFCA;
}
.ecl-ui-lunar .ecl-ui-lunar-weekend {
  color: orange;
}
.ecl-ui-lunar .ecl-ui-lunar-checked {
  color: #fff;
  background: #3977d2;
}
.ecl-ui-lunar .ecl-ui-lunar-pre-month,
.ecl-ui-lunar .ecl-ui-lunar-next-month {
  color: #999;
}
.ecl-ui-lunar-pre,
.ecl-ui-lunar-next {
  width: 5px;
  height: 9px;
  font-size: 0;
  position: absolute;
  overflow: hidden;
  top: 16px;
}
.ecl-ui-lunar-pre {
  left: 56px;
}
.ecl-ui-lunar-next {
  left: 72px;
  background-position: 0 -28px;
}
.ecl-ui-lunar-go-today,
.ecl-ui-lunar-add-event {
  position: absolute;
  top: 7px;
  font-size: 14px;
  text-decoration: none;
  background-color: #D6D6D6;
  padding: 6px 8px;
  border-radius: 2px;
  color: #fff;
}
.ecl-ui-lunar-go-today:hover,
.ecl-ui-lunar-add-event:hover {
  background-color: #A1A1A1;
}
.ecl-ui-lunar-go-today {
  left: 5px;
}
.ecl-ui-lunar-add-event {
  right: 5px;
}
