/*! 2014 Baidu Inc. All Rights Reserved */
.ecl-ui-picuploader-picker {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  width: 70px;
  margin-right: 15px;
  overflow: hidden;
  vertical-align: top;
}
.ecl-ui-picuploader-pic {
  border: #E1E1E1 1px solid;
  height: 68px;
  overflow: hidden;
}
.ecl-ui-picuploader-pic em {
  display: block;
  height: 44px;
  overflow: hidden;
  margin: 14px 0 0 4px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  word-break: break-all;
}
.ecl-ui-picuploader-pic img {
  width: 68px;
  height: 68px;
}
.ecl-ui-picuploader-pic:hover {
  background: #666;
}
.ecl-ui-picuploader-close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 1px;
  right: 1px;
  color: #FFF;
  font: bold 14px/14px '宋体';
  cursor: pointer;
  display: none;
}
.ecl-ui-picuploader-close:hover {
  background: #CCC;
  background: rgba(0, 0, 0, 0.5);
}
.ecl-ui-picuploader-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
}
.ecl-ui-picuploader-wrapper:hover {
  background: #666;
}
.ecl-ui-picuploader-file {
  width: 70px;
  height: 70px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.ecl-ui-picuploader-title {
  text-align: center;
  color: #647DD1;
  font-size: 12px;
  line-height: 26px;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ecl-ui-picuploader-picked .ecl-ui-picuploader-pic {
  border: #1366FF 1px solid;
  background: #666;
}
.ecl-ui-picuploader-picked .ecl-ui-picuploader-close {
  display: block;
}
.ecl-ui-picuploader-picked .ecl-ui-picuploader-wrapper {
  top: -100em;
}
.ecl-ui-picuploader-error {
  background: #FFB4AD;
}
.ecl-ui-picuploader-disabled .ecl-ui-picuploader-cur {
  display: none;
}
.ecl-ui-picuploader-disabled .ecl-ui-picuploader-close {
  display: none;
}
