.ecl-ui-rating-star {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  list-style: none;
  cursor: pointer;
}
.ecl-ui-rating-star-on {
  color: red;
}
.ecl-ui-rating-disabled .ecl-ui-rating-star {
  cursor: default;
}
