.ecl-ui-sel-target {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  padding: 3px 25px 3px 10px;
  border: 1px solid transparent;
  _border-color: #654321;
  _filter: chroma(color=#654321);
  font-size: 12px;
  position: relative;
  cursor: default;
  margin-left: 5px;
}
.ecl-ui-sel-target b {
  font-weight: 300;
}
.ecl-ui-sel-target:hover {
  border-color: #C9CBCE;
  background-color: #F7F7F7;
}
.ecl-ui-sel-target i {
  background: url(http://s1.bdstatic.com/r/www/cache/biz/ecom/hotel/img/icon_sprites.gif) no-repeat 0 -18px;
  width: 10px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
  font-size: 0;
}
.ecl-ui-sel-hl,
.ecl-ui-sel-hl:hover {
  border-color: #B6B9BD;
  background-color: #F1F1F1;
}
.ecl-ui-sel-hl i,
.ecl-ui-sel-hl:hover i {
  background-position: 0 -12px;
}
.ecl-ui-sel-disabled,
.ecl-ui-sel-disabled:hover {
  color: #999;
  cursor: not-allowed;
  border: 1px solid transparent;
  background-color: transparent;
}
.ecl-ui-sel-checked {
  color: #FF6C00;
}
.ecl-ui-sel {
  position: absolute;
  border: 1px solid #B6B9BD;
  width: 140px;
  z-index: 10;
  left: -1000em;
  line-height: 30px;
  font-size: 12px;
}
.ecl-ui-sel a {
  height: 30px;
  padding: 0 10px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  color: #333333;
  cursor: default;
  background-color: #FFF;
}
.ecl-ui-sel a:hover {
  background-color: #F5F5F5;
}
.ecl-ui-sel .ecl-ui-sel-cur {
  color: #000;
}
.ecl-ui-sel-cols3 {
  width: 276px;
  overflow: hidden;
}
.ecl-ui-sel-cols3 a {
  _display: inline;
  width: 72px;
  float: left;
  _zoom: 1;
}
