/*! 2014 Baidu Inc. All Rights Reserved */
.ecl-ui-slider {
  position: relative;
  width: 423px;
  height: 638px;
}
.ecl-ui-slider-stage {
  position: relative;
  _width: 423px;
  height: 638px;
  overflow: hidden;
  white-space: nowrap;
}
.ecl-ui-slider-item {
  width: 423px;
  height: 638px;
}
.ecl-ui-slider-prev,
.ecl-ui-slider-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 299px;
  font: bolder 24px/40px '';
  text-align: center;
  color: #FFF;
  background: #CCC;
  background: rgba(204, 204, 204, 0.7);
  left: 2px;
  z-index: 11;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
}
.ecl-ui-slider-next {
  left: auto;
  right: 2px;
}
.ecl-ui-slider-prev:hover,
.ecl-ui-slider-next:hover {
  background: #DDD;
}
.ecl-ui-slider-prev-disable,
.ecl-ui-slider-next-disable {
  display: none;
}
.ecl-ui-slider-index {
  position: absolute;
  bottom: -20px;
  left: 171.5px;
  z-index: 1;
  cursor: pointer;
}
.ecl-ui-slider-index i {
  width: 10px;
  height: 10px;
  font-size: 0;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;
  background: #CCC;
  -webkit-transition: all 0.3s 0 linear;
  -moz-transition: all 0.3s 0 linear;
  -ms-transition: all 0.3s 0 linear;
  -o-transition: all 0.3s 0 linear;
  transition: all 0.3s 0 linear;
}
.ecl-ui-slider-index .ecl-ui-slider-index-selected {
  width: 16px;
}
.ecl-ui-slider-stage-vertical {
  white-space: normal;
}
.ecl-ui-slider-stage-vertical .ecl-ui-slider-item {
  float: left;
}
.ecl-ui-slider-stage-abs .ecl-ui-slider-item {
  position: absolute;
}
.ecl-ui-slider-cover {
  z-index: 1;
}
.ecl-ui-slider-top {
  z-index: 2;
}
