html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
a {
  text-decoration: none;
}
body {
  font: 16px Lato, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", Arial;
}
body {
  padding-left: 250px;
}
.article-nav {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1b1c1d;
}
.article-nav-logo {
  display: block;
  width: 200px;
  padding: 11px 25px;
  color: #1f917d;
  font-size: 30px;
  text-align: right;
}
.article-nav-logo img {
  margin-right: 5px;
  width: 44px;
  height: 44px;
  vertical-align: middle;
}
.article-nav-category {
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #333;
  line-height: 1.5;
}
.article-nav-category-title {
  padding: 0 25px;
  margin-bottom: 5px;
  color: #ddd;
  font-size: 1.2em;
}
.article-nav-category-link {
  display: block;
  margin-bottom: 5px;
  padding: 0 25px;
  color: #888;
  transition: color 0.3s;
}
.article-nav-category-link.current {
  color: #eee;
}
.article-nav-category-linkhover {
  color: #fff;
}
.article-header {
  height: 66px;
  padding-left: 50px;
  line-height: 66px;
  color: #555;
  font-size: 20px;
  border-bottom: 1px solid #aaa;
}
.article-header h1 {
  width: 980px;
}
.article-header .github-button {
  float: right;
  visibility: hidden;
}
.article-header iframe {
  float: right;
  margin: 19px 0;
}
.article-entry {
  font-size: 16px;
  width: 980px;
  padding: 20px 50px;
  line-height: 1.6;
}
.article-entry h1 {
  font-size: 25.799999999999997px;
}
.article-entry h2 {
  font-size: 24px;
}
.article-entry h3 {
  font-size: 21.6px;
}
.article-entry h4 {
  font-size: 20.4px;
}
.article-entry h5 {
  font-size: 19.200000000000003px;
}
.article-entry h6 {
  font-size: 18px;
}
.article-entry dl,
.article-entry ol,
.article-entry p,
.article-entry ul {
  margin: 0 0 1.75em;
}
.article-entry a,
.article-entry a:active,
.article-entry a:hover,
.article-entry a:visited {
  cursor: pointer;
  color: #64b5f6;
  text-decoration: none;
}
.article-entry a:hover {
  color: #64b5f6;
  text-decoration: underline;
}
.article-entry table {
  background: 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
.article-entry table th {
  padding-bottom: 0.5em;
  border-bottom: 2px solid #e3eaf4;
}
.article-entry table td {
  border-bottom: 1px solid #e3eaf4;
  padding: 1rem 0;
}
.article-entry hr {
  border: 1px solid #eef2f8;
}
.article-entry dl dd {
  margin-left: 0;
}
.article-entry code {
  font-family: 'Open Sans';
  font-weight: 400;
  border-radius: 3px;
  background: #f5f5f5;
  padding: 0 10px;
}
.article-entry abbr,
.article-entry acronym {
  border-bottom: 1px dotted #5d686f;
}
.article-entry blockquote {
  border-left: 2px solid #d1dced;
  padding: 10px 20px;
}
.article-entry blockquote cite:before {
  content: ' — ';
  padding: 0 0.3em;
}
.article-entry figure.highlight {
  background: #fff;
  margin: 10px 0;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  font-family: Menlo;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.article-entry figure.highlight table {
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.article-entry figure.highlight .code,
.article-entry figure.highlight .gutter,
.article-entry figure.highlight .tag,
.article-entry figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
  cursor: text;
}
.article-entry figure.highlight figcaption {
  font-size: 1.3em;
  padding: 10px 15px;
  margin: 0;
  background: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  color: #999;
}
.article-entry figure.highlight figcaption a {
  float: right;
}
.article-entry figure.highlight .gutter {
  background: #fff;
  border-right: 1px solid #d9d9d9;
  padding: 0.3em 0.5em;
}
.article-entry figure.highlight .gutter .line {
  color: #aaa;
}
.article-entry figure.highlight .code {
  padding: 0.3em 0.3em 0.3em 1em;
}
.article-entry figure.highlight .line {
  height: 1.2em;
  font-size: 1.3em;
}
.article-entry .gist .line,
.article-entry .gist .line-number {
  font-size: 1em;
  font-family: Menlo;
  margin: 0 0 5px;
}
.article-entry .highlight .comment {
  color: #969896;
}
.article-entry .highlight .string {
  color: #df5000;
}
.article-entry .highlight .keyword {
  color: #a71d5d;
}
.article-entry .highlight.apacheconf .code .cbracket,
.article-entry .highlight.apacheconf .code .common,
.article-entry .highlight.apacheconf .code .keyword {
  color: #0086b3;
}
.article-entry .highlight.apacheconf .code .sqbracket {
  color: #df5000;
}
.article-entry .highlight.apacheconf .code .tag {
  color: #63a35c;
}
.article-entry .highlight.bash .code .shebang {
  color: #969896;
}
.article-entry .highlight.bash .code .built_in,
.article-entry .highlight.bash .code .literal {
  color: #0086b3;
}
.article-entry .highlight.bash .code .variable {
  color: #333;
}
.article-entry .highlight.bash .code .title,
.article-entry .highlight.coffeescript .code .title {
  color: #795da3;
}
.article-entry .highlight.coffeescript .code .built_in,
.article-entry .highlight.coffeescript .code .literal,
.article-entry .highlight.coffeescript .code .number {
  color: #0086b3;
}
.article-entry .highlight.coffeescript .code .attribute,
.article-entry .highlight.coffeescript .code .reserved {
  color: #1d3e81;
}
.article-entry .highlight.c .code .preprocessor,
.article-entry .highlight.coffeescript .code .regexp,
.article-entry .highlight.coffeescript .code .subst,
.article-entry .highlight.cpp .code .preprocessor {
  color: #df5000;
}
.article-entry .highlight.c .code .title,
.article-entry .highlight.cpp .code .title {
  color: #795da3;
}
.article-entry .highlight.c .code .built_in,
.article-entry .highlight.c .code .number,
.article-entry .highlight.cpp .code .built_in,
.article-entry .highlight.cpp .code .number {
  color: #0086b3;
}
.article-entry .highlight.cs .code .preprocessor,
.article-entry .highlight.cs .code .preprocessor .keyword {
  color: #333;
}
.article-entry .highlight.cs .code .title {
  color: #795da3;
}
.article-entry .highlight.cs .code .built_in,
.article-entry .highlight.cs .code .number {
  color: #0086b3;
}
.article-entry .highlight.cs .code .xmlDocTag {
  color: #63a35c;
}
.article-entry .highlight.css .code .at_rule,
.article-entry .highlight.css .code .important {
  color: #a71d5d;
}
.article-entry .highlight.css .code .attribute,
.article-entry .highlight.css .code .function,
.article-entry .highlight.css .code .hexcolor,
.article-entry .highlight.css .code .number {
  color: #0086b3;
}
.article-entry .highlight.css .code .attr_selector,
.article-entry .highlight.css .code .value {
  color: #333;
}
.article-entry .highlight.css .code .class,
.article-entry .highlight.css .code .id,
.article-entry .highlight.css .code .pseudo {
  color: #795da3;
}
.article-entry .highlight.css .code .tag {
  color: #63a35c;
}
.article-entry .highlight.diff .code .chunk {
  color: #795da3;
  font-weight: 700;
}
.article-entry .highlight.diff .code .addition {
  color: #55a532;
  background-color: #eaffea;
}
.article-entry .highlight.diff .code .deletion {
  color: #bd2c00;
  background-color: #ffecec;
}
.article-entry .highlight.http .code .attribute,
.article-entry .highlight.http .code .literal {
  color: #0086b3;
}
.article-entry .highlight.http .code .request {
  color: #a71d5d;
}
.article-entry .highlight.ini .code .title {
  color: #795da3;
}
.article-entry .highlight.ini .code .setting {
  color: #a71d5d;
}
.article-entry .highlight.ini .code .keyword,
.article-entry .highlight.ini .code .value {
  color: #333;
}
.article-entry .highlight.java .code .title {
  color: #795da3;
}
.article-entry .highlight.java .code .javadoc {
  color: #969896;
}
.article-entry .highlight.java .code .javadoctag {
  color: #a71d5d;
}
.article-entry .highlight.java .code .number {
  color: #0086b3;
}
.article-entry .highlight.java .code .params {
  color: #1d3e81;
}
.article-entry .highlight.js .code .title {
  color: #795da3;
}
.article-entry .highlight.js .code .javadoc {
  color: #969896;
}
.article-entry .highlight.js .code .javadoctag,
.article-entry .highlight.js .code .tag {
  color: #a71d5d;
}
.article-entry .highlight.js .code .tag .title {
  color: #333;
}
.article-entry .highlight.js .code .regexp {
  color: #df5000;
}
.article-entry .highlight.js .code .built_in,
.article-entry .highlight.js .code .literal,
.article-entry .highlight.js .code .number {
  color: #0086b3;
}
.article-entry .highlight.json .code .attribute {
  color: #df5000;
}
.article-entry .highlight.json .code .number {
  color: #0086b3;
}
.article-entry .highlight.mak .code .constant {
  color: #333;
}
.article-entry .highlight.mak .code .variable {
  color: #df5000;
}
.article-entry .highlight.mak .code .title {
  color: #795da3;
}
.article-entry .highlight.mak .code .keyword {
  color: #0086b3;
}
.article-entry .highlight.md .code .blockquote,
.article-entry .highlight.md .code .emphasis,
.article-entry .highlight.md .code .link_label,
.article-entry .highlight.md .code .strong,
.article-entry .highlight.md .code .value {
  color: #df5000;
}
.article-entry .highlight.md .code .code,
.article-entry .highlight.md .code .link_reference {
  color: #0086b3;
}
.article-entry .highlight.md .code .link_url {
  text-decoration: underline;
}
.article-entry .highlight.nginx .code .title {
  color: #a71d5d;
}
.article-entry .highlight.nginx .code .built_in {
  color: #0086b3;
}
.article-entry .highlight.nginx .code .number,
.article-entry .highlight.nginx .code .regexp {
  color: #df5000;
}
.article-entry .highlight.nginx .code .variable {
  color: #333;
}
.article-entry .highlight.objectivec .code .preprocessor {
  color: #a71d5d;
}
.article-entry .highlight.objectivec .code .preprocessor .title {
  color: #df5000;
}
.article-entry .highlight.objectivec .code .title {
  color: #795da3;
}
.article-entry .highlight.objectivec .code .built_in,
.article-entry .highlight.objectivec .code .literal,
.article-entry .highlight.objectivec .code .number {
  color: #0086b3;
}
.article-entry .highlight.perl .code .sub {
  color: #795da3;
}
.article-entry .highlight.perl .code .regexp {
  color: #df5000;
}
.article-entry .highlight.php .code .phpdoc {
  color: #a71d5d;
}
.article-entry .highlight.php .code .regexp {
  color: #df5000;
}
.article-entry .highlight.php .code .literal,
.article-entry .highlight.php .code .number {
  color: #0086b3;
}
.article-entry .highlight.php .code .title,
.article-entry .highlight.python .code .decorator,
.article-entry .highlight.python .code .title {
  color: #795da3;
}
.article-entry .highlight.python .code .number {
  color: #0086b3;
}
.article-entry .highlight.ruby .code .parent,
.article-entry .highlight.ruby .code .title {
  color: #795da3;
}
.article-entry .highlight.ruby .code .constant,
.article-entry .highlight.ruby .code .number,
.article-entry .highlight.ruby .code .prompt,
.article-entry .highlight.ruby .code .subst .keyword,
.article-entry .highlight.ruby .code .symbol {
  color: #0086b3;
}
.article-entry .highlight.sql .built_in {
  color: #a71d5d;
}
.article-entry .highlight.sql .number {
  color: #0086b3;
}
.article-entry .highlight.xml .tag {
  color: #333;
}
.article-entry .highlight.xml .value {
  color: #df5000;
}
.article-entry .highlight.xml .attribute {
  color: #795da3;
}
.article-entry .highlight.xml .title {
  color: #63a35c;
}
.article-entry .highlight.puppet .title {
  color: #795da3;
}
.article-entry .highlight.puppet .function {
  color: #0086b3;
}
.article-entry .highlight.less .at_rule,
.article-entry .highlight.less .tag {
  color: #a71d5d;
}
.article-entry .highlight.less .attribute,
.article-entry .highlight.less .function,
.article-entry .highlight.less .hexcolor,
.article-entry .highlight.less .number {
  color: #0086b3;
}
.article-entry .highlight.less .built_in {
  color: #df5000;
}
.article-entry .highlight.less .class,
.article-entry .highlight.less .id,
.article-entry .highlight.less .pseudo {
  color: #795da3;
}
.article-entry .highlight.scss .at_rule,
.article-entry .highlight.scss .important,
.article-entry .highlight.scss .tag {
  color: #a71d5d;
}
.article-entry .highlight.scss .attribute,
.article-entry .highlight.scss .function,
.article-entry .highlight.scss .hexcolor,
.article-entry .highlight.scss .number,
.article-entry .highlight.scss .preprocessor {
  color: #0086b3;
}
.article-entry .highlight.scss .variable {
  color: #333;
}
.article-entry .highlight.scss .built_in {
  color: #df5000;
}
.article-entry .highlight.scss .class,
.article-entry .highlight.scss .id,
.article-entry .highlight.scss .pseudo {
  color: #795da3;
}
.article-entry .highlight.stylus .at_rule {
  color: #a71d5d;
}
.article-entry .highlight.stylus .tag {
  color: #63a35c;
}
.article-entry .highlight.stylus .attribute,
.article-entry .highlight.stylus .hexcolor,
.article-entry .highlight.stylus .number,
.article-entry .highlight.stylus .params {
  color: #0086b3;
}
.article-entry .highlight.stylus .class,
.article-entry .highlight.stylus .id,
.article-entry .highlight.stylus .pseudo,
.article-entry .highlight.stylus .title {
  color: #795da3;
}
.article-entry .highlight.go .typename {
  color: #a71d5d;
}
.article-entry .highlight.go .built_in,
.article-entry .highlight.go .constant {
  color: #0086b3;
}
.article-entry .highlight.swift .preprocessor {
  color: #a71d5d;
}
.article-entry .highlight.swift .title {
  color: #795da3;
}
.article-entry .highlight.swift .built_in,
.article-entry .highlight.swift .number {
  color: #0086b3;
}
.article-footer {
  width: 980px;
  padding: 20px 50px;
}
