
$nav-width = 250px
$nav-background-color = #1b1c1d

@require './_partial/reset.styl'

body
    padding-left $nav-width

.article-nav

    position fixed
    width $nav-width
    top 0
    left 0
    height 100%
    overflow-y auto
    background-color $nav-background-color

    &-logo

        display block
        width 200px
        padding 11px 25px
        color #1f917d
        font-size 30px
        text-align: right;

        img
            margin-right 5px
            width 44px
            height @width
            vertical-align middle



    &-category

        text-align: right;
        padding: 10px 0;
        border-top: 1px solid #333;
        line-height: 1.5;

        &-title
            padding 0 25px
            margin-bottom: 5px;
            color #ddd
            font-size: 1.2em

            a
                padding: 0
                color #eee

        &-link

            display block
            margin-bottom: 5px;
            padding 0 25px
            color #888
            transition color .3s

            &.current
                color #eee

            &:hover
                color #fff



.article-header


    height: 66px;
    padding-left: 50px;
    line-height: @height;
    color: #555;
    font-size 20px
    border-bottom: 1px solid #aaa;

    h1
        width: 980px;

    .github-button

        float: right
        visibility hidden

    iframe
        float: right
        margin: 19px 0

.article-entry

    font-size: 16px

    width: 980px;

    padding: 20px 50px;

    line-height 1.6

    @require './_partial/markdown.css'

    &.markdown-body
        ol
            list-style decimal

        ul
            list-style initial

    figure.highlight

        color-border = #ddd
        color-meta = #aaa

        margin: 0
        margin-bottom: 20px
        background #eee
        border 1px solid color-border
        margin-top 15px
        padding 7px 15px
        border-radius 2px
        text-shadow 0 0 1px #fff
        line-height 1.6
        overflow auto
        position relative
        font-size 0.9em

        table

            margin-bottom: 0

            tr
                border-top 0

            td,
            th
                background-color #eee

            .code

                color: #999;
                padding-right: 15px;
                text-align: left
                border-right: 1px solid #ddd;
                color #666
                border 0

                pre
                    background-color #eee

            .gutter
                padding: 0 15px 0 0
                text-align: right;
                background-color #eee
                border 0
                border-right: 1px solid #ddd;

                pre
                    background-color #eee




        figcaption
            color color-meta
            margin-bottom 5px
            text-shadow 0 0 1px #fff
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding-bottom: 3px;

            a
                position absolute
                right 15px

            pre
                border none
                padding 0
                margin 0

            table
                margin-top 0
                border-spacing 0

            .gutter
                color color-meta
                padding-right 15px
                border-right 1px solid color-border
                text-align right
                background-color #eee

            .code
                padding-left 15px
                border-left 1px solid #fff
                color #666

            .line
                height: 20px

        pre

            padding: 0

            // Theme: Solarized - Light
            // More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
            .comment
            .template_comment
            .diff .header
            .doctype
            .pi
            .lisp .string
            .javadoc
                color #93a1a1
                font-style italic

            .keyword
            .winutils
            .method
            .addition
            .css .tag
            .request
            .status
            .nginx .title
                color #859900

            .number
            .command
            .string
            .tag .value
            .phpdoc
            .tex .formula
            .regexp
            .hexcolor
                color #2aa198

            .title
            .localvars
            .chunk
            .decorator
            .built_in
            .identifier
            .vhdl
            .literal
            .id
                color #268bd2

            .attribute
            .variable
            .lisp .body
            .smalltalk .number
            .constant
            .class .title
            .parent
            .haskell .type
                color #b58900

            .preprocessor
            .preprocessor .keyword
            .shebang
            .symbol
            .symbol .string
            .diff .change
            .special
            .attr_selector
            .important
            .subst
            .cdata
            .clojure .title
                color #cb4b16

            .deletion
                color #dc322f

.article-footer
    width: 980px;
    padding: 20px 50px;

