@pager-prefix: ecl-ui-pager;
@pager-item-color: #03c;
@pager-item-border-color: #ccc;
@pager-item-background-color: #fff;
@pager-item-hover-background-color: #EFF4FA;
@pager-item-current-color: #666;
@pager-item-triangle-color: #666;
@pager-item-disabled-color: #999;