/**
 * @file MOYE - 按钮 - 样式
 * @author leon(leonlu@outlook.com)
 */
/**
 * @file MOYE - 样式依赖管理
 * @author leon(leonlu@outlook.com)
 */
/**
 * MOYE
 * Copyright 2014 Baidu Inc. All rights reserved.
 *
 * @moye-file 样式变量
 * @moye-author leon <leonlu@moye-outlook.com>
 */
/*-------------------
      Base Sizes
--------------------*/
/*-------------------
      Base Font Family
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
    Brand Colors
--------------------*/
/* Positive / Negative Dupes */
/*-------------------
        Sizes
--------------------*/
/*
  To have sizing resolve to a specified pixel values adjust
  the numerator to the desired font size and the denominator
  to the base em size
*/
/*-------------------
       Em Sizes
--------------------*/
/* Exact pixel values expressed in rem */
/**
 * @file MOYE 样式mixin工具库
 * @author Leon(leon@outlook.com)
 */
/**
 * 在旧世界, 将rem转化为px
 * @param  {number} @prop 属性名
 * @param  {number} @root 基准font-size
 */
/**
 * 在新世界, 请rem/px转换成rem
 * @param  {number} @prop 属性名
 */
/**********
以moye-size开头的函数都是用来完成各种内置尺寸大小的
********/
/**
 * 生成固定套路的高度
 * @param  {rem} @size @moye-medium, @moye-tiny等等
 */
/**
 * 生成固定套路的垂直内间距
 * @param {rem} @size @moye-medium, @moye-tiny等等
 */
/**
 * 生成固定套路的水平内间距
 * @param  {rem} @size @moye-medium, @moye-tiny等等
 */
.ui-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 11px 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #3b83c0;
  border: 1px solid #f3f3f3;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.ui-button:hover {
  background-color: #4c8fc8;
}
.ui-button:active {
  background-color: #2f6899;
}
.ui-button:visited {
  color: #ffffff;
}
.ui-button-disabled {
  background-color: #cccccc;
  background-image: none;
  color: #ffffff;
  cursor: not-allowed;
}
.ui-button-disabled:hover,
.ui-button-disabled:active {
  background-color: #cccccc;
}
/**
 * MOYE
 * Copyright 2014 Baidu Inc. All rights reserved.
 *
 * @file 翻页样式
 * @author leon <leonlu@outlook.com>
 */
.ui-pager {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ui-pager span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 10px;
  font-size: 12px;
}
.ui-pager a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 23px;
  height: 23px;
  padding: 0;
  margin: 0 3px;
  text-decoration: none;
  line-height: 23px;
  color: #0033cc;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.ui-pager a:hover {
  background-color: #eff4fa;
}
.ui-pager a.ui-pager-prev,
.ui-pager a.ui-pager-next {
  width: auto;
  padding: 0 5px;
}
.ui-pager a.ui-pager-ellipsis {
  border: none;
}
.ui-pager a.ui-pager-ellipsis:hover {
  background: none;
}
.ui-pager a.ui-pager-ellipsis:hover em {
  border-color: #eff4fa;
}
.ui-pager a.ui-pager-current {
  font-weight: 700;
  border: none;
  color: #666666;
  cursor: default;
}
.ui-pager a.ui-pager-current:hover {
  background: none;
}
.ui-pager a.ui-pager-disabled {
  color: #999999;
  cursor: default;
}
.ui-pager a.ui-pager-disabled:hover {
  border-color: #cccccc;
  background-color: #ffffff;
}
.ui-pager-disabled {
  color: #999999;
  cursor: default;
}
/**
 * MOYE
 * Copyright 2014 Baidu Inc. All rights reserved.
 *
 * @file 下拉选择框样式
 * @author leon <leonlu@outlook.com>
 */
.ui-popup {
  position: absolute;
  top: 0;
  left: -2000px;
  z-index: 1;
}
@font-face {
  font-family: "icon";
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#icon') format('svg');
}
.moye-icon,
.ui-select-indicator {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ui-select {
  display: inline-block;
  *display: inline;
  height: 24px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #cccccc;
  *zoom: 1;
}
.ui-select:before,
.ui-select:after {
  display: table;
  content: "";
}
.ui-select:after {
  clear: both;
}
.ui-select-label {
  float: left;
  display: block;
  height: 24px;
  line-height: 24px;
  width: 240px;
  color: #bbbbbb;
  background-color: #ffffff;
  text-decoration: none;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-select-label:visited {
  color: #bbbbbb;
}
.ui-select-indicator {
  float: left;
  display: block;
  height: 24px;
  line-height: 24px;
  width: 16px;
  color: #bbbbbb;
  text-align: center;
}
.ui-select-option {
  display: block;
  width: 256px;
  height: 24px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: #333333;
  overflow: hidden;
  cursor: pointer;
}
.ui-select-option:visited {
  color: #333333;
}
.ui-select-option:hover {
  background-color: #f3f3f3;
}
.ui-select-option-selected {
  color: #000;
  background-color: #ddd;
}
.ui-select-selected .ui-select-label {
  color: #333333;
}
.ui-select-selected .ui-select-label:visited {
  color: #333333;
}
.ui-select-invalid .ui-select-label {
  border-color: #dbb1b1;
  background-color: #fff0f0;
}
.ui-select-disabled,
.ui-select-disabled:hover {
  color: #999;
  cursor: not-allowed;
  border: 1px solid transparent;
  background-color: transparent;
}
.ui-select-popup {
  background-color: #ffffff;
  border: 1px solid #B6B9BD;
  z-index: 10 !important;
}
.skin-mini-select {
  height: 18px;
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}
.skin-mini-select-label,
.skin-mini-select-indicator,
.skin-mini-select-option {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
.skin-mini-select-option {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
}
.skin-tiny-select {
  height: 21px;
  line-height: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
}
.skin-tiny-select-label,
.skin-tiny-select-indicator,
.skin-tiny-select-option {
  height: 21px;
  line-height: 21px;
  font-size: 14px;
}
.skin-tiny-select-option {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 14px;
}
.skin-small-select {
  height: 22.5px;
  line-height: 22.5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.skin-small-select-label,
.skin-small-select-indicator,
.skin-small-select-option {
  height: 22.5px;
  line-height: 22.5px;
  font-size: 15px;
}
.skin-small-select-option {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.skin-medium-select {
  height: 24px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
}
.skin-medium-select-label,
.skin-medium-select-indicator,
.skin-medium-select-option {
  height: 24px;
  line-height: 24px;
  font-size: 16px;
}
.skin-medium-select-option {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
}
.skin-large-select {
  height: 27px;
  line-height: 27px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
}
.skin-large-select-label,
.skin-large-select-indicator,
.skin-large-select-option {
  height: 27px;
  line-height: 27px;
  font-size: 18px;
}
.skin-large-select-option {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
}
.skin-big-select {
  height: 30px;
  line-height: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
}
.skin-big-select-label,
.skin-big-select-indicator,
.skin-big-select-option {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}
.skin-big-select-option {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
}
.skin-huge-select {
  height: 33px;
  line-height: 33px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
}
.skin-huge-select-label,
.skin-huge-select-indicator,
.skin-huge-select-option {
  height: 33px;
  line-height: 33px;
  font-size: 22px;
}
.skin-huge-select-option {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
}
.skin-massive-select {
  height: 36px;
  line-height: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
.skin-massive-select-label,
.skin-massive-select-indicator,
.skin-massive-select-option {
  height: 36px;
  line-height: 36px;
  font-size: 24px;
}
.skin-massive-select-option {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
/**
 * MOYE
 * Copyright 2014 Baidu Inc. All rights reserved.
 *
 * @file 选项卡样式
 * @author leon <leonlu@outlook.com>
 */
/**************************************
 **
 *************************************/
.ui-tab {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  list-style: none;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 0;
}
.ui-tab-wrapper {
  list-style: none;
  padding: 0;
  height: 100%;
}
.ui-tab-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  z-index: 0;
  cursor: pointer;
  vertical-align: bottom;
  font-size: 12px;
  background-color: #fafafa;
  padding: 0 15px;
}
.ui-tab-item::after,
.ui-tab-item i {
  content: '';
  position: absolute;
  top: 5px;
  left: -2px;
  width: 0;
  height: 16px;
  font-size: 0;
  line-height: 0;
  border-left: 1px solid #dedede;
  border-right: 1px solid #fff;
}
.ui-tab-item-first:after {
  display: none !important;
}
.ui-tab-item-active {
  z-index: 1;
  height: 26px;
  line-height: 24px;
  background-color: #fff;
  border-top: 2px solid #275cea;
}
.ui-tab-bar {
  display: none;
}
.ui-tab.ui-tab-plugin-tabbar .ui-tab-item-active {
  border-top: none;
}
.ui-tab.ui-tab-plugin-tabbar .ui-tab-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 0;
  z-index: 3;
  border: 1px solid #275cea;
  border-width: 1px 0;
}
.skin-qiche-pager a {
  color: #000;
}
.skin-qiche-pager a.ui-pager-current {
  background-color: #0f80e3;
  color: #fff;
  border: 1px solid #0f80e3;
}
.skin-qiche-pager a.ui-pager-current:hover {
  background-color: #1c8df0;
}
.skin-jiaoyu-pager a {
  color: #000;
}
.skin-jiaoyu-pager a.ui-pager-current {
  background-color: #65c130;
  color: #fff;
  border: 1px solid #65c130;
}
.skin-jiaoyu-pager a.ui-pager-current:hover {
  background-color: #72cf3c;
}
.skin-youxi-pager a {
  color: #000;
}
.skin-youxi-pager a.ui-pager-current {
  background-color: #ff7a01;
  color: #fff;
  border: 1px solid #ff7a01;
}
.skin-youxi-pager a.ui-pager-current:hover {
  background-color: #ff871b;
}
